In [56]:
import numpy as np
import tables as tb

In [57]:
f = tb.open_file('test.h5', 'w')

In [58]:
dtype = np.dtype([('city', 'S64'), ('population', 'i4')])

In [59]:
table = f.create_table('/', 'table1', dtype)
table.append([('Brussels', 1128854), ('London', 8308369), ('Paris', 2243833)])

In [60]:
table.flush()

In [61]:
table[:]

array([(b'Brussels', 1128854), (b'London', 8308369), (b'Paris', 2243833)],
      dtype=[('city', 'S64'), ('population', '<i4')])

In [62]:
table.col('city')

array([b'Brussels', b'London', b'Paris'],
      dtype='|S64')

In [63]:
[row['city'] for row in table.where('population>2e6')]

[b'London', b'Paris']

In [64]:
f.close()