In [65]:
import numpy as np
import tables as tb

In [66]:
f = tb.open_file('test.h5', 'w')

In [67]:
dtype = np.dtype([('city', 'S64'), ('population', 'i4')])

In [68]:
table = f.create_table('/', 'table1', dtype)
table.append([('Brussels', 1128854), ('London', 8308369), ('Paris', 2243833)])

In [69]:
table.flush()

In [70]:
table[:]

array([(b'Brussels', 1128854), (b'London', 8308369), (b'Paris', 2243833)],
      dtype=[('city', 'S64'), ('population', '<i4')])

In [71]:
table.col('city')

array([b'Brussels', b'London', b'Paris'],
      dtype='|S64')

In [72]:
[row['city'] for row in table.where('population>2e6')]

[b'London', b'Paris']

In [73]:
table[1]

(b'London', 8308369)

In [74]:
f.close()